
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Admin Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap p-0 shadow" >
        <a href="#" class="navbar-brand col-sm-3 mr-0">Admin</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a href="#" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>


        @RenderBody()


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)



</body>
</html>
