
@model Project

<div class="card-group my-3">

    <div class="card">

        <img src="/image/us.png" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">@Model.ProjectName</h5>
            <p class="card-text">@Model.ProjectDescription</p>
            <button onclick="myFunction()" id="myBtn">Read more</button>
        </div>
    </div>

</div>

